@import '~calcite-web/dist/css/calcite-web.min.css';

html, body {
	background-color: #E8E2D2;
	overflow: hidden;

	* {
		box-sizing: border-box;
	}
}

$theme-color-red: #A10D22;

.axis {
    path, line {
        fill: none;
        stroke: rgba(0,0,0,.1);
        shape-rendering: crispEdges; 
        opacity: .5;
    }
}

.axis.y {
    text {
        fill: #B2A584;
    }
}

.axis.x {
    text {
        fill: #B2A584;
    }
}

.text-theme-color-red {
    color: #A10D22;
};

.text-theme-color-khaki {
    color: #B2A584;
};

.loader {
    margin-top: -25px;
}

.loader-bars:before, .loader-bars:after, .loader-bars { 
    background: #A10D22;
}

@-webkit-keyframes load {
	0%,
	80%,
	100% {
		opacity: .75;
		box-shadow: 0 0 $theme-color-red;
		height: 2rem
	}
	40% {
		opacity: 1;
		box-shadow: 0 -0.5rem $theme-color-red;
		height: 2.5rem
	}
}

@keyframes load {
	0%,
	80%,
	100% {
		opacity: .75;
		box-shadow: 0 0 $theme-color-red;
		height: 2rem
	}
	40% {
		opacity: 1;
		box-shadow: 0 -0.5rem $theme-color-red;
		height: 2.5rem
	}
}